<!-- <p>playall3 works!</p> -->
<div class="outer-part">
    <div class="inner">
        <div class="content">
            <div class="col-sm-8">
                <p >Your limitation it's only your imagination.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
        <div class="content">
            <div class="col-sm-8">
                <p >Great things never come from comfort zones.</p>
            </div>
            <div class="card-body">
                <i class="fa fa-play-circle fa-2x" style="" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
