<div class="outer">
  <div class="row">
    <div class="col-sm-3 left">
      <div class="logo">
        <img src="../assets/img/logoup.jpg" class="imageup" alt="">
      </div>
      <div class="user">
            <img class="image"  src="../assets/img/logo.png" alt="">
            <div class="username d-inline-block">
              <p class="username-name">Anand Agarwal</p>
              <p class="username-email">testing@gmail.com</p>
            </div>
      </div>
      <ul class="list-group">
          <li class="list-group-item">
            <a class="nav-link" routerLink="motivation">
              Motivation
            </a>
          </li>
        <li class="list-group-item">
            <a class="nav-link d-inline" routerLink="productivity">
              Productivity
            </a>
            <button class="btn btn-size btn-color active-btn d-inline right">Home</button>
        </li>
        <li class="list-group-item ">
          <a class="nav-link" routerLink="design">
            Design
          </a>
        </li>
        <li class="list-group-item ">
            <a class="nav-link" routerLink="study">
              Study
            </a>
        </li>
      </ul>
      <br>
        <div class="container before-logout">
          <div class="row " >
            <div class="col-sm-3"  style="float: right;">
              <i class="fa fa-rocket fa-2x" style="color: rgb(236, 84, 109);" aria-hidden="true"></i>
            </div>
            <div class="col-sm-9">
              <p class="before-logout-text">
                Pro account is more powerful,
                Get 30% off
              </p>
              <button class="btn btn-light before-logout-btn">Go Pro</button>
            </div>
          </div>
        </div>
        <br>
        <div class="footer">
          <a class="nav-link d-inline" href="#">
            Logout
          </a>
          <div class="d-inline right-side">
            <i  class="fa fa-plus-circle fa-3x" style="color: rgb(236, 84, 109);" aria-hidden="true"></i>
          </div>
        </div>
        <br>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-0"></div>
      <div class="col-sm-12 contains">

        <router-outlet></router-outlet>

    </div>
    </div>
  </div>
</div>

