<div class="header">
  <div class="d-inline" style="font-weight: 600;">
    Productivity
  </div>
  <div class="d-inline right-side">
    Logo <i class="fa fa-plus-circle" style="color: pink;font-size: larger;" aria-hidden="true"></i>
  </div>
</div>
<div class="div-body">
  <ul class="nav">
      <li class="nav-item">
          <a class="nav-link btn btn-color" routerLink="all" >All</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-color" routerLink="articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-color" routerLink="bodcast">bodcast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-color" routerLink="video">Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-color" routerLink="downloads" >Downloads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-color active-btn" routerLink="playAll">Play All</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

<p>productivity works!</p>
